HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://localhost:1337
FRONTEND_URL=http://localhost:3100
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
SEED_DATA=true
ADMIN_JWT_SECRET=replace-with-random-secret
API_TOKEN_SALT=replace-with-random-secret
TRANSFER_TOKEN_SALT=replace-with-random-secret
ENCRYPTION_KEY=replace-with-random-secret
JWT_SECRET=replace-with-random-secret
INQUIRY_SECRET=replace-with-random-secret
APP_KEYS=replace-with-random-secret
